@import "../../themeColor.css";
.card-container {
  padding: 1rem;

  .movie-card {
    padding-bottom: 1rem;
    
    text-align: center;
    .movie-img {
      width: 100%;
    }
    .movie-description{
        color: white !important;
    }
  }
}
