@import "../../themeColor.css";
.card-container {
    padding: 1rem;
  .movie-card {
    
    text-align: center;
    .movie-img {
      // display: none;
      width: 100%;
      //    object-fit: cover;
    }
    .movie-description{
        color: white !important;
    }
  }
}
